<!DOCTYPE html>
<html lang="pt" ng-app="instagralbum">
<head>
	<meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="keywords" content="">

    <!-- Bootstrap and Font Awesome css -->
    <link rel="stylesheet" href="stylesheets/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div>
		<div ui-view></div>
	</div>


	<script src="js/angular/angular.min.js"></script>
		<script src="js/angular/angular-resource.min.js"></script>
		<script src="js/ui-router/angular-ui-router.js"></script>
		<script src="js/angular/dirPagination.js"></script>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<script src="js/angular-ui-mask/dist/mask.js"></script>
		<script src="js/ui-bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
		<script src="Bootstrap/js/bootstrap.js"></script>

		<!-- APP -->
		<script src="js/ng-app.js"></script>
		<script src="js/config.js"></script>


		<!-- Services -->
		<!--<script src="js/services/login_service.js"></script>-->

		<!-- Controllers -->
		<script src="js/controllers/index.controller.js"></script>
		<script src="js/controllers/login.controller.js"></script>
</body>

</html>